@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

@media (min-width: 768px) {
  html, body, #root {
    overflow: hidden;
  }
}

/* Hide scrollbars but keep scrolling */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

body {
  font-family: 'Work Sans','sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  line-height: 1.6;
}

.section-header-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.body-text {
  color: #4a4a4a;
  margin-bottom: 1rem;
}
